.container {
}


.blogSection {
    height: 80rem;
}


.enter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: var(--pink);
}

.enterText {
    text-decoration: none;
}