.container {
    position: relative;
    top:-100vh;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.transitionLay {
    position: absolute;
    /* top: 100vh; */
    /* left: 0; */
    width: 100vw;
    height: 100vh;
    background-color: var(--pink);
    z-index: 100000;
}