.markdown-body {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.6;
    color: #333;
    margin-top: 5rem;
    padding: 2rem 20vw;
    background: white;
    /* border-radius: 8px; */
}