.markdown-body {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-style: normal;
    font-size: 2rem;
    min-height: 100vh;
    line-height: 1.6;
    color: #333;
    margin-top: 5rem;
    padding: 2rem 20vw;
    background-color: rgba(234, 234, 234, 0.679) !important;
    backdrop-filter: blur(2rem) !important;
}